h2{
	border-bottom:1px solid #f1f1f1;
}

body {
	background:url(https://slm-assets2.secondlife.com/assets/5494412/view_large/the-brown-wood-texture-of-floor-with-natural-patterns.jpg?1335799664); 
}
.img-fluid{
	width:100%;
	padding-bottom:10px;
	size:cover;
}
.img-thumbnail{
	width:100%;
	border:2px solid grey;

}
.jumbotron{
	background-color:#00bfff !important;
	color:#000000;
}
.container {
  position: relative;
  width: 75%;
}
.container img {
  width: 100%;
  height: auto;
}
.container .btn-danger {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-80%, -80%);
  -ms-transform: translate(-60%, -60%);
  background-color: #555;
  color: white;
  font-size: 15px;
  padding: 4px 12px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.container .btn-danger:hover {
  background-color: red;
}
.form-group{
  color:white;
}
.special{
  color:red;
}


